body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.app {
  display: flex;
  flex-wrap: wrap;
  max-width: 1348px;
  margin: 0 auto;
  background-color: white;
}

.sideBar {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 476px;
}

.ais-SearchBox-reset {
  left: 85%
}

.title {
  width: 75%;
}

.r-title {
  color: #fc0540;
}

.name a {
  color: #fc0540;
}

.algolia-container {
  width: 25vw;
  max-width: 370px;
}

.ais-MenuSelect{
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ais-MenuSelect{
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  background-color: #fff;
  background-image: url('http://www.w3.org/2000/svg%27 viewBox=%2…67-9.339 2.829 2.83-11.996 12.17z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}

.ais-MenuSelect-option{
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.hook {
  padding-left: 8px;
  padding-top: 9vh;
  /*width: 66%;*/
  min-width: 440px;
  max-width: 900px;
  height: 100%;
}

.editors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.implementation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.copy {
  width: 50px;
  align-self: flex-end;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 38px;
  width: 100px;
  background-color: #fc0540;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.copy:hover{
  cursor: pointer;
  cursor: hand;
}

.i-title {
  background-color: #262821;
  color: white;
  width: 250px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.u-title {
  background-color: #262821;
  color: white;
  width: 250px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.usage {
  padding-top: 20px;
  margin-bottom: 15px;
}

.hit {
  color: black;
  text-decoration-line: none;
}

.ais-Hits, .ais-InfiniteHits {
  list-style: none;
}

.ais-Hits-list, .ais-InfiniteHits-list {
  margin: 0;
}

.ais-Hits-item, .ais-InfiniteHits-item {
  width: 98%;
  cursor: pointer;
  border: none;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  border-right-color: #e8e8e8;
  border-right-width: 1px;
  border-right-style: solid;
  height: 20px;
  color: black;
}

.ais-SearchBox-input {
  border-width: 0px;
  font-size: 18px;
  width: 95%;
  height: 42px;
}

.ais-SearchBox-resetIcon path, .ais-SearchBox-submitIcon path {
  fill: #c4c8d8;
  border: 1px solid #aaa;
  background-color: green;
}

.ais-SearchBox-input::placeholder {
  color: #757575;
}

.menu-select {
  display: none;
}

#use {
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#implement {
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1024px){
 #implement {
    font-size: 15px;
  }

  #use {
    font-size: 15px;
  }
}

@media screen and (max-width: 1130px){
  body{
    width: 100vw;
  }

  .app {
    width: 100%;
    min-width: 100vw;
  }

  .sideBar {
    width: 100vw;
    padding-bottom: 10px;
    min-width: 440px;

    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 0 auto;

  }

  .infinite-hits {
    display: none;
  }

  .menu-select {
    display: block;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .title {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  ul {
    border-left-color: #e8e8e8;
    border-left-width: 1px;
    border-left-style: solid;
    width: 100%;
    border-right-width: 0px;
  }

  .ais-Hits-item {
    width: 98%;
    cursor: pointer;
    border: none;
    margin: 0;
    box-shadow: none;
    text-decoration: none;
    border-right-color: #e8e8e8;
    border-right-width: 1px;
    border-right-style: none;
    border-left-style: none;
    height: 20px;
    color: black;
  }

  .hook {
    width: 100vw;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    box-sizing: border-box;
    align-self: center;
  }

  .name {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .copy {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 38px;
    width: 100px;
    background-color: #fc0540;
    color: white;
    font-weight: bold;
    font-size: 1em;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .ais-HitsPerPage {
    display: flex;
    width: 100%;
  }

  .ace_editor.ace-monokai.ace_dark {
    font-size: 10px;
  }

  .ace {
    font-size: 5px;
    background-color: red;
  }

  .algolia-container {
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    max-width: 150px;
  }

 #implement {
    font-size: 15px;
  }

  #use {
    font-size: 15px;
  }
}

@media screen and (max-width: 423px) and (min-width: 400px){
 #implement {
    font-size: 13px;
  }

  #use {
    font-size: 13px;
  }

  .hook {
    padding-left: 1%;
  }
}

@media screen and (width: 411px) {
  .hook {
    padding-left: 10%;
  }
}

@media screen and (width: 414px) {
  .hook {
    padding-left: 10%;
  }
}

@media screen and (max-width: 444px) {
 #implement {
    font-size: 13px;
  }

  #use {
    font-size: 13px;
  }
}