body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-wrap: wrap;
  max-width: 1348px;
  margin: 0 auto;
  background-color: white;
}

.sideBar {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  max-width: 476px;
}

.ais-SearchBox-reset {
  left: 85%
}

.title {
  width: 75%;
}

.r-title {
  color: #fc0540;
}

.name a {
  color: #fc0540;
}

.algolia-container {
  width: 25vw;
  max-width: 370px;
}

.ais-MenuSelect {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ais-MenuSelect {
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  background-color: #fff;
  background-image: url('http://www.w3.org/2000/svg%27 viewBox=%2…67-9.339 2.829 2.83-11.996 12.17z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}

.ais-MenuSelect-option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.hook {
  padding-left: 8px;
  padding-top: 9vh;
  width: 66%;
  min-width: 440px;
  max-width: 900px;
  height: 100%;
}

.editors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.implementation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.copy {
  width: 50px;
  align-self: flex-end;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 38px;
  width: 100px;
  background-color: #fc0540;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.copy:hover {
  cursor: pointer;
  cursor: hand;
}

.i-title {
  background-color: #262821;
  color: white;
  width: 250px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.u-title {
  background-color: #262821;
  color: white;
  width: 250px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.usage {
  padding-top: 20px;
  margin-bottom: 15px;
}

.hit {
  color: black;
  text-decoration-line: none;
}
.ais-Hits{
  margin-top: 15px;
}
.ais-Hits, .ais-InfiniteHits {
  list-style: none;
}

.ais-Hits-list, .ais-InfiniteHits-list {
  margin: 0;
}

.ais-Hits-item, .ais-InfiniteHits-item {
  width: 98%;
  cursor: pointer;
  border: none;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  border-right-color: #e8e8e8;
  border-right-width: 1px;
  border-right-style: solid;
  height: 20px;
  color: black;
}

.ais-SearchBox-input {
  font-size: 18px;
  width: 95%;
  height: 42px;
}

.ais-SearchBox-resetIcon path, .ais-SearchBox-submitIcon path {
  fill: #c4c8d8;
  border: 1px solid #aaa;
  background-color: green;
}

.ais-SearchBox-input::placeholder {
  color: #757575;
}

.menu-select {
  display: none;
}

.nav {
  height: 0px;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 40px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav ul li {
  box-sizing: border-box;
  padding: 10px;
  list-style: none;
  margin: 0px;
}

.libraries {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.libraries h1 {
  font-size: 4em;
  text-align: center;
}

.libraries ul {
  padding: 0px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.l-title{
  color: black;
}

.libraries ul a {
  margin: 1%;
  width: 30%;
  height: 29vh;
  list-style: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #7f7f7f;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-height: 189px;
  max-width: 292px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.libraries ul a:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.libraries ul li span{
  padding-top: 5%;
  text-align: center;
  /*color:#7f7f7f;*/
}

.libraries ul li {
  text-decoration: none;
  color: #7f7f7f;
  list-style: none;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#use {
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom:15px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
}

#implement {
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
  padding-bottom: 15px;
}

@media screen and (max-width: 1130px) {
  .nav {
    height: 50px;
    padding-right: 0px;
    justify-content: space-between;
  }
  .libraries ul{
    border-width: 0px;
  }

}

@media screen and (max-width: 1024px) {
 #implement {
    font-size: 15px;
  }

  #use {
    font-size: 15px;
  }
}

@media screen and (max-width: 1130px) {
  body {
    width: 100vw;
  }

  .app {
    width: 100%;
    min-width: 100vw;
  }

  .sideBar {
    width: 100vw;
    padding-bottom: 10px;
    min-width: 440px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 0 auto;

  }

  .infinite-hits {
    display: none;
  }

  .menu-select {
    display: block;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .title {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  ul {
    border-left-color: #e8e8e8;
    border-left-width: 1px;
    border-left-style: solid;
    width: 100%;
    border-right-width: 0px;
  }

  .ais-Hits-item {
    width: 98%;
    cursor: pointer;
    border: none;
    margin: 0;
    box-shadow: none;
    text-decoration: none;
    border-right-color: #e8e8e8;
    border-right-width: 1px;
    border-right-style: none;
    border-left-style: none;
    height: 20px;
    color: black;
  }

  .hook {
    width: 100vw;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    box-sizing: border-box;
    align-self: center;
  }

  .name {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .copy {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 38px;
    width: 100px;
    background-color: #fc0540;
    color: white;
    font-weight: bold;
    font-size: 1em;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .ais-HitsPerPage {
    display: flex;
    width: 100%;
  }

  .ace_editor.ace-monokai.ace_dark {
    font-size: 10px;
  }

  .ace {
    font-size: 5px;
    background-color: red;
  }

  .algolia-container {
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    max-width: 150px;
  }

 #implement {
    font-size: 15px;
  }

  #use {
    font-size: 15px;
  }
}

@media screen and (max-width: 423px) and (min-width: 400px) {
  .nav {
    height: 50px;
    padding-right: 0px;
    justify-content: space-between;
  }
 #implement {
    font-size: 13px;
  }

  #use {
    font-size: 13px;
  }

  .hook {
    padding-left: 1%;
  }
  .libraries ul {
    border-width: 0px;
  }
  .libraries ul li {

    height: 150px;
  }
}

@media screen and (width: 411px) {
  .hook {
    padding-left: 10%;
  }
}

@media screen and (width: 414px) {
  .hook {
    padding-left: 10%;
  }
}

@media screen and (max-width: 444px) {
  .nav {
    height: 40px;
    width: 100vw;
    padding-right: 0px;
    justify-content: space-between;
    min-width: 440px;
    background-color: #4a4a4a;
    color: white;
    margin-bottom: 5px;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
  }

  .nav ul {
    margin-top: 0px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    border-width: 0px;
    padding-bottom: 100px;
  }

  .nav ul a {
    color: white;
    padding-top: 0px;
  }

  .libraries {
    min-width: 440px;
    margin-top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .libraries ul {
    border-width: 0px;
  }
  .libraries h1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  #implement {
    font-size: 13px;
  }

  #use {
    font-size: 13px;
  }
}