body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.hooks-container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  width: 25vw;
  max-width: 370px;
}

.infinite-hits {
  width: 300px;
}

.ais-SearchBox-reset {
  left: 85%
}

.name a {
  color: #fc0540;
}

.ais-MenuSelect {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}

.ais-MenuSelect-option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.hook {
  width: 66%;
  min-width: 440px;
  max-width: 900px;
  height: 100%;
}

.editors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.implementation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.copy {
  width: 50px;
  align-self: flex-end;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 38px;
  width: 100px;
  background-color: #fc0540;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.copy:hover {
  cursor: pointer;
  cursor: hand;
}

.i-title {
  background-color: #262821;
  color: white;
  width: 250px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.u-title {
  background-color: #262821;
  color: white;
  width: 250px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.usage {
  padding-top: 20px;
  margin-bottom: 15px;
}

.hit {
  color: black;
  text-decoration-line: none;
}

.ais-Hits{
  margin-top: 15px;
}

.ais-Hits, .ais-InfiniteHits {
  list-style: none;
}

.ais-Hits-list, .ais-InfiniteHits-list {
  margin: 0;
}

.ais-Hits-item, .ais-InfiniteHits-item {
  width: 98%;
  cursor: pointer;
  border: none;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  border-right-color: #e8e8e8;
  border-right-width: 1px;
  border-right-style: solid;
  height: 20px;
  color: black;
}

.ais-SearchBox-input {
  font-size: 18px;
  width: 95%;
  height: 42px;
}

.ais-SearchBox-resetIcon path, .ais-SearchBox-submitIcon path {
  fill: #c4c8d8;
  border: 1px solid #aaa;
  background-color: green;
}

.ais-SearchBox-input::placeholder {
  color: #757575;
}

.menu-select {
  display: none;
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav ul li {
  padding: 10px;
  list-style: none;
  margin: 0px;
}

.libraries li {
  list-style-type: none;
}

.libraries a, .tutorials a {
  color: #fc0540;
}

.tutorials li {
  list-style-type: none;
}

.active-link {
  font-weight: bold;
}

#use {
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom:15px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
}

#implement {
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
  padding-bottom: 15px;
}

.footer {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 1130px) {
  #implement {
    font-size: 15px;
  }

  #use {
    font-size: 15px;
  }

  body {
    width: 100vw;
  }

  .sidebar {
    width: 100vw;
    padding-bottom: 10px;
    min-width: 440px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 0 auto;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    max-width: 150px;
  }

  .hooks-container {
    flex-direction: column;
  }

  .infinite-hits {
    display: none;
  }

  .menu-select {
    display: block;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0 25px;
  }

  .title {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .ais-Hits-item {
    width: 98%;
    cursor: pointer;
    border: none;
    margin: 0;
    box-shadow: none;
    text-decoration: none;
    border-right-color: #e8e8e8;
    border-right-width: 1px;
    border-right-style: none;
    border-left-style: none;
    height: 20px;
    color: black;
  }

  .hook {
    width: 100vw;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    box-sizing: border-box;
    align-self: center;
  }

  .name {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .copy {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 38px;
    width: 100px;
    background-color: #fc0540;
    color: white;
    font-weight: bold;
    font-size: 1em;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .ais-HitsPerPage {
    display: flex;
    width: 100%;
  }

  .ace_editor.ace-monokai.ace_dark {
    font-size: 10px;
  }

  .ace {
    font-size: 5px;
    background-color: red;
  }

  #implement {
    font-size: 15px;
  }

  #use {
    font-size: 15px;
  }
}

@media screen and (max-width: 423px) and (min-width: 400px) {

  #implement {
    font-size: 13px;
  }

  #use {
    font-size: 13px;
  }

  .hook {
    padding-left: 1%;
  }
}

@media screen and (width: 411px) {
  .hook {
    padding-left: 10%;
  }
}

@media screen and (max-width: 444px) {

  #implement {
    font-size: 13px;
  }

  #use {
    font-size: 13px;
  }
}